# requirements.txt
pandas==2.2.2
pyarrow==16.1.0
requests==2.32.3
aiohttp==3.9.5
newspaper3k==0.2.8
lxml_html_clean
psycopg2-binary==2.9.9
langchain==0.2.16
langchain-community==0.2.16
sentence-transformers==3.0.1
faiss-cpu==1.8.0
pgvector==0.3.2
sqlalchemy==2.0.32
tiktoken==0.7.0
ollama==0.3.1
tqdm==4.66.5
tenacity==8.5.0
python-dotenv==1.0.1
numpy==1.26.4
sentence-transformers==3.0.1
streamlit==1.35.0
openai